@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/DMSans/DMSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/DMSans/DMSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/DMSans/DMSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('../fonts/DMSans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url('../fonts/DMSans/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 600; /* Semi-bold */
  src: url('../fonts/DMSans/DMSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('../fonts/DMSans/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 800; /* Extra-bold */
  src: url('../fonts/DMSans/DMSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 900; /* Black */
  src: url('../fonts/DMSans/DMSans-Black.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-dmsans);
}

*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --weight-bold: 700;
  --weight-light: 300;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --font-dmsans: "DMSans", sans-serif;

  --text: #545b57;
  --white: #ffffff;
  --black: #222222;
  --dark: #0e0d1b;
  --bg-color: #fff4f3;
  --primary: #ff4438;
  --secondary: #ffbe36;
  --gradient: linear-gradient(90deg, var(--primary), var(--secondary));
}

p {
  color: var(--text);
}

p{
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: var(--weight-bold);
}

section {
  padding-block: 60px;
}

figure {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form-control:focus {
  border: 1px solid var(--primary) !important;
}

.btn {
  border: none;
  padding: 8px 20px;
  align-items: center;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 600 !important;
  transition: 0.2s ease-in-out;
}

.btn.btn-lg {
  padding: 14px 24px;
  font-size: clamp(14px, 2vw, 16px);
}

.btn-primary {
  color: var(--white) !important;
  background: var(--primary);
}

.btn-primary:hover {
  color: var(--black) !important;
  background: var(--secondary);
}

.btn-secondary {
  color: var(--black) !important;
  background: var(--secondary);
}

.btn-secondary:hover {
  color: var(--white) !important;
  background: var(--primary);
}

.offcanvas {
  border: none;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
}

.shadow {
  box-shadow: 0px 16px 54px 0px rgba(56.9, 56.9, 56.9, 0.08) !important;
}

/* typography */
.text-secondary {
  color: var(--secondary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

/* background */
.bg-color{
  background: var(--bg-color) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-gradient {
  background: var(--gradient) !important;
}
